<footer class="page-footer font-small blue mt-5">
    <div class="footer-copyright text-center py-2 fixed-bottom bg-dark text-muted">
        © @DateTime.Now.Year This is just a small example project :
         <a class="text-light" href="https://gurkantuna.com/" target="_blank"><i class="fa fa-hand-pointer-o text-light"></i> gurkantuna.com</a>
    </div>
</footer>