
@{
    ViewData["Title"] = "Bad Request";
}

@section head{
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>
                <span>Bad Request</span>
            </h1>
        </div>
        <p>You sent a bad reuest!</p>
        <a href="/">home page</a>
    </div>
</div>