
@{
    ViewData["Title"] = "404";
}

<div class="container">
    <video class="w-100" src="https://freefrontend.com/assets/img/html-css-404-page-templates/Spacy-404-with-count-up-page.mp4" autoplay muted loop></video>
</div>