
@{
    ViewData["Title"] = "500";
}

<div class="container">
    <img src="https://freefrontend.com/assets/img/500-error-page-html-templates/HTML-CSS-500-Internal-Error-Page.gif" alt="500" class="w-100" />
</div>