
@{
    ViewData["Title"] = "General Error";
}

@section head{
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>
                <span>ERROR</span>
            </h1>
        </div>
        <p>An error occurred! The problem saved in our logs.</p>
        <a href="/">home page</a>
    </div>
</div>