@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories";
    var isAdmin = (bool)ViewBag.IsAdmin;
}

<div class="container">
    <h2>Category List</h2>
    <hr />
    @if (isAdmin) {
        <a asp-action="Create" asp-controller="Category" class="btn btn-primary">Create Category</a>
    }
    <hr />
    <div class="row">
        <div class="col">
            @if (Model.Any()) {
                <table class="table table-bordered table-striped" id="tblCategories">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model) {
                            <tr>
                                <td>@category.Id</td>
                                <td>@category.Name</td>
                                <td>
                                    @if (isAdmin) {
                                        <a class="btn btn-dark btn-sm fa fa-pencil" asp-controller="Category" asp-action="Update" asp-route-id="@category.Id"></a>
                                        <a class="btn btn-danger btn-sm fa fa-remove btnDel" data-id="@category.Id" href="javascript:;"></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else {
                <div class="alert alert-warning">There is no any category!</div>
            }
        </div>
    </div>
</div>
@section script {
    <script>
        $('#tblCategories').on('click', '.btnDel', function() {
            deleteObject('/category/delete', this);
        });
    </script>
}