@model IdentityRole
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h2>Create Role</h2>
    <form asp-action="Create" asp-controller="Role" method="post">

        <div class="text-danger" asp-validation-summary="All"></div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <input asp-action="Index" asp-controller="Role" value="Cancel" class="btn btn-danger" />
    </form>
</div>