a {
    border: none;
    outline: none;
    outline: 0;
}

    a:hover {
        text-decoration: none;
    }

    a:focus, a:active {
        border: none;
        outline: 0;
        outline: none;
        box-shadow: none !important;
    }

.card-body {
    text-align: justify;
}

    .card-body img {
        width: 100% !important;
        height: 100% !important;
    }

.transbox {
    background-color: #000;
    opacity: 0.6;
    padding: 1%;
    left: 0;
    right: 0;
}

.carousel-item img {
    height: 600px;
}

.input-validation-error {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

    .input-validation-error:focus {
        border-color: #dc3545;
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }

.valid {
    border-color: #28a745 !important;
    box-shadow: none !important;
}

#notfound {
    position: relative;
    height: 100vh;
    background-color: #222;
}

    #notfound .notfound {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.notfound {
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

    .notfound .notfound-404 {
        height: 158px;
        line-height: 153px;
        margin-bottom: 100px;
    }

        .notfound .notfound-404 h1 {
            font-family: 'Josefin Sans', sans-serif;
            color: #222;
            font-size: 120px;
            letter-spacing: 10px;
            margin: 0px;
            font-weight: 700;
            text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
        }

            .notfound .notfound-404 h1 > span {
                text-shadow: 2px 2px 0px #ffab00, -2px -2px 0px #ffab00, 0px 0px 8px #ff8700;
            }

    .notfound p {
        font-family: 'Josefin Sans', sans-serif;
        color: #c9c9c9;
        font-size: 16px;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .notfound a {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        background: transparent;
        color: #c9c9c9;
        border: 2px solid #c9c9c9;
        display: inline-block;
        padding: 10px 25px;
        font-weight: 700;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

        .notfound a:hover {
            color: #ffab00;
            border-color: #ffab00;
        }

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 122px;
        line-height: 122px;
    }

        .notfound .notfound-404 h1 {
            font-size: 122px;
        }
}

.lead {
    font-size: 1.05rem;
}

.home-p {
    font-weight: 300;
    text-align: justify
}
