
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="container">
    <video class="w-100" src="https://freefrontend.com/assets/img/403-forbidden-html-templates/another-403-forbidden.mp4" autoplay muted loop></video>
</div>